<li>
  <%= form_tag(share_group_discussion_path(group, @discussion), :method => :post) do %>
    <div class='actions'>
      <%= content_tag :span, group.name, :class => 'group-share' %>
      <%= submit_tag "Share" %>
    </div>
  <% end %>
</li>
