<div class="content-bg">
	<div id="main-right" class="main-right full">
		<div class="item-head headerfull">
			<h2>Create New Discussion</h2>
		</div>
		
		<%= form_for [@group, @discussion] do |disc_f| %>
		  <%= render 'fields', :f => disc_f %>
		  <div class = 'actions'>
		    <span><%= disc_f.submit "Create" %></span>
		  </div>
		<% end %>
		
		
	<div>
</div>

