<p>
  Hey, you.
</p>

<p>
  Someone just requested to be notified of Jungol updates.
</p>
<p>
  Their email is <%= @email %>.
</p>
<p>
  They signed up from the IP <%= @ip %> at <%= @time %>.<br />
</p>
<br />

Have a great day.<br />
--Ryland
