<% is_creator = current_user==@group.creator %>
<li class='group-user'>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.name, user %>
  <p class='user-role'>
    <span class='user status'>Pending</span>
    <% if is_creator %>
      <span class="links">
        <%= link_to("Approve", approve_user_group_path(@group, :u => user.id), :method => 'POST', :class => 'pend') %>
        <%= link_to("Deny", approve_user_group_path(@group, :u => user.id), :method => 'DELETE', :class => 'pend') %>
      </span>
    <% end %>
  </p>
</li>
