<li class='group-list-li'>
  <div class="group-img">
    <%= render 'groups/logo', :group => group, :size => 50 %>
  </div>
  <div class="group-text">
    <%= content_tag :span, link_to(group.name, group), :class => 'group-link' %><br />
    <span class="group-mems"><%= pluralize group.users.count, "member"  %></span> |
    <span class="group-cons"><%= pluralize group.groups.count, "connection"  %></span>
    <p class='group-status'> <span class="group status">Connection Requested</span> </p>
  </div>
  <div class="clearall"> </div>
</li>
