<li class='group-user'>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.name, user %>
  <p class='user-role'>
    <% if user == @group.creator %>
      Creator
    <% elsif user.admin_of? @group %>
      Administrator<br />
      <%= link_to("Remove Admin", administer_group_path(@group, :user_id => user.id, :role => 2), :method => 'POST') if current_user.admin_of? @group %>
    <% else %>
      User<br />
      <%= link_to("Make Admin", administer_group_path(@group, :user_id => user.id, :role => 1), :method => 'POST') if current_user.admin_of? @group %>
    <% end %>
  </p>
</li>
