<div class="content-bg">
  <div id="wrapper">

    <div id="all-groups" class="main-right full">
      <div class="item-head headerfull">
  			<h2>All Groups</h2>
  		</div>

      <%= will_paginate %>

      <ul class='all-groups'>
        <%= render @groups %>
      </ul>

      <%= will_paginate %>

    <div class="clearall"></div>
  </div>
</div>