<div class="content-bg">
  <div id="connect-group" class="main-right full">
    <div id='group-connect' class="item">
      <div class="alt-item-head headerfull">
        <h2><%= "Add a connection to #{@group.name}"%></h2>
      </div>
      <ul class='group-groups'>
        <% @group.unconnected_groups.each do |un| %>
          <%= render 'group_conn', :group => un, :conn => 0 %>
        <% end %>

        <% pending = @group.pending_groups | @group.requested_groups %>
        <% pending.each do |pn| %>
          <%= render 'group_conn', :group => pn, :conn => 1 %>
        <% end %>

        <% @group.groups.each do |gr| %>
          <%= render 'group_conn', :group => gr, :conn => 2 %>
        <% end %>
      </ul>
      <div class="clearall"></div>
    </div>
  </div>
</div>
