<div class="content-bg">
  <div id="new-invite" class="main-right full">
    <div id="item" class="todos">
      <div class="item-head headerfull">
        <h2>Send Invitation</h2>
      </div>

      <%= form_tag do %>
        <p>
          <%= label_tag(:invitees, "Please enter a list of emails separated by commas:") %><br />
          <%= text_area_tag(:invitees) %>
        </p>
        <p class='sign-in-button'>
          <%= submit_tag "Send Invitations" %>
        </p>
      <% end %>

      <div class="clearall"></div>
    </div>
  </div>
</div>
