<div id="land-top">
	<p class="welcome">helps organizations<br />
	easily connect with one another,<br />
	share project management tools,<br/ >
	and achieve common goals.</p>
	
	<div id="form-box">
		<h1>Sign Up for Jungol Updates!<br /><span>We’ll let you know when it’s tame enough for human use.</span></h1>
		<form>
			<input class="email" type="text" value="name@emailladdress.com" onfocus="if(this.value=='name@emailladdress.com'){this.value='';}" onblur="if(this.value==''){this.value='name@emailladdress.com';}" />
			<button type="button" name="" value="" class="land-submit">Submit</button>
		</form>
	</div>
</div>
	
<div id="land-bottom">
	<div id="land-copy-left">
		<p>Jungol was developed by college students who were frustrated by the challenges of working together with multiple community groups that had shared aspirations.</p>

		<p>Jungol increases the impact of joint initiatives in the community by making it easy to collaborate online.</p>
	</div>
	
	<div id="land-copy-right">
		Jungol facilitates sharing  with cooperating groups
		<ul>
			<li>Create To-Do Lists</li>
			<li>Have Discussions</li>
			<li>Upload &amp; Share Documents</li>
		</ul>
	</div>
	
	<div class="clearall"></div>
</div>

<div style="float:right;">
  <%= render 'signin' %>
  <%= render 'updates_request' %>
</div>
