<li>
  <%= form_tag(share_group_todo_path(group, @todo), :method => :post, :remote => true) do %>
    <%= check_box_tag :admins_only %>
    <%= content_tag :span, group.name, :class => 'group-share' %>
    <%= submit_tag "Share", :class => 'group-share' %>
  <% end %>
</li>
