<li>
  <%= form_tag(share_group_todo_path(group, @todo), :method => :post) do %>
    <div class='actions'>
      <%= content_tag :span, group.name, :class => 'group-share' %>
      <%= submit_tag "Share", :class => 'group-share' %>
    </div>
  <% end %>
</li>
