<div class='group_todo'>
  <h1>
    <%= "#{@todo.title} - #{@group.name}" %>
  </h1>

  <strong>Title</strong> <%= @todo.title %><br />

  Creator: <%= @todo.creator.name %><br />
  <strong>URL</strong> <%= link_to group_todo_path(@group, @todo) %><br /><br />

</div>
