body { background: #fff; }
.container { width: 100%; }
div.clearall { clear: both; }


/* Header */
header { background: #bee8eb; }
header .logo { position: absolute; top: 10px; left: 20px; }

header .secondary { background: #fff; margin-top: 15px; }
header .secondary .groups-list { margin: 0 0 0 20px; padding: 60px 0 20px 20px; font-family: 'Cabin', sans-serif; width: 28%; float: left; }
header .secondary .groups-list h1 { font-weight: 600; font-size: 1.4em; color: #738151; }
header .secondary .groups-list ul { list-style: none; padding: 0; margin: 0; line-height: 1.2em; padding-left: 10px; }
header .secondary .groups-list ul li { font-weight: 400; }
header .secondary .groups-list ul li a { color: #738151; text-decoration: underline; }

header .secondary .group-info { float: left; width: 68%; padding-top: 30px; }
header .secondary .group-info img { float: left; padding-right: 20px; }
header .secondary .group-info h1 { font-size: 22px; float: left; font-family: 'Cabin', sans-serif; font-weight: 600; color: #3f3f3f; }
header .secondary .group-info p { float: left; font-family: 'Cabin', sans-serif; margin-top: -5px; color: #8eac45; }
header .secondary .group-info p a { color: #8eac45; text-decoration: underline; }
header .secondary .group-info p.blurb { padding-left: 145px; padding-right: 115px; margin-top: -15px; color: #696a57; }


section {
  margin-top: 2em;
  font-size: 120%;
  padding: 20px;
  background: yellow;
}
section h1 {
    font-size: 200%;
}
footer {
  text-align:center;
  width:710px;
  margin: 10px auto 0px;
}

footer nav{
  float: none;
}

/* Links */
a{
  color: #09c;
  text-decoration: none;
}
a:hover {
  color: #069;
  text-decoration: underline;
}
a:visited {
    color: #069;
}
/* Navigation */
nav { float: right; }
nav { white-space: nowrap; }
nav ul { margin: 22px 0 0 0; color: #888f6e; }
nav ul li { list-style-type: none; display: inline-block; padding: 0.2em 0; text-transform: uppercase; }
nav ul li a { padding: 0 5px; font-weight: normal; color: #888f6e; }
nav ul li a:visited { color: #888f6e; }
nav ul li a:hover { text-decoration: underline; color: #888f6e; }

/* Search Groups */
form.search-form { float: right; margin: 19px 20px 0 10px; }
input.search-field { background: #fff; border: 1px solid #cbd5ad; color: #c6c6b3; -moz-border-radius: 2px;
border-radius: 2px; }


/* Sign up button */
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

a.create_button,a.join_button, input.join_button {
 color:#fff;
 background: #006400;
 font-weight:bold;
 padding:10px;
 float:right;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors{
  margin-top: 10px;
  padding: 2px;
  background-color:red;
  display: table;
}

.field_with_errors label{
  color:#FFF;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom:-5px;
  background-color: #c00;
  color: #fff;
}
#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users {
  margin-top: 1em;
}

.users li{
  list-style: none;
}

div.comment{
  border:1px dotted #111;
  padding:2px;
}

.sortable {
    list-style-type: none; margin: 0; padding: 0; width: 60%;
    li {
      height: 50px; line-height: 25px;
      border:1px solid #ddd;
      padding: 3px;
      .placeholder{
        background-color:#BBB;
      }
    }
  }


