*, html, body {
  padding: 0;
  margin: 0;
}
body {
  background: #fff;
}
.container {
  width: 100%;
}
div.clearall {
  clear: both;
}
a {
  color: #8eac45;
  text-decoration: underline;
}
a:hover {
  color: #8eac45;
  text-decoration: underline;
}
a:visited {
  color: #8eac45;
}
.hideme {
  display: none;
}


/* Header */
header {
  background: #bee8eb; height: 60px;
  .logo {
    position: absolute; top: 10px; left: 20px;
  }
  .header-nav {
    margin-top: 20px;
  }
  .header-search {
    float: right;
    margin: 12px 40px 0 10px;
    input.search-field {
      padding: 5px;
      background: #f3f4f3 url('/assets/search-button.png') right no-repeat;
      border: 1px solid #cbd5ad;
      color: #c6c6b3;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }
  }
}

.secondary {
  background: #fff;
  margin-top: 0;
  .groups-list {
    margin: 60px 0 0 20px;
    padding: 60px 0 0 20px;
    font-family: 'Cabin', sans-serif;
    width: 28%; float: left;
    p {
      font-weight: 400;
    }
    a {
      color: #738151;
      text-decoration: underline;
    }
  }

  .group-info {
    float: left;
    width: 68%;
    padding-top: 30px;
    img {
      float: left;
      padding-right: 20px;
    }
    h1 {
      font-size: 22px;
      float: left; font-family: 'Cabin', sans-serif;
      font-weight: 600;
      color: #3f3f3f;
    }
    p {
      font-family: 'Cabin', sans-serif;
      margin-top: 35px;
      color: #8eac45;
      a {
        color: #8eac45;
        text-decoration: underline;
      }
    }
    .blurb {
      float: left;
      padding-left: 145px;
      padding-right: 115px;
      margin-top: -15px;
      color: #696a57;
    }
  }
}
/* Main Content */
section {
  .content-bg {
    margin-right: 15px;
    background: #cbe3c5;
    border-top: 1px solid #b1d9bd;
    padding: 20px 0 30px 0;
  }

  /* Filter Page *
  /* 'Filter by Connections' panel */
  #main-left,
  #secondary-left {
    float: left;
    width: 260px;
    background: #f3f4f3;
    border: 1px solid #b3c7af;
    margin-left: 35px;
    -moz-box-shadow: 0 2px 3px #777777;
    -webkit-box-shadow: 0 2px 3px #777777;
    box-shadow: 0 2px 3px #777777;
    h1 {
      font-family: 'Cabin', sans-serif;
      font-size: 16px;
      font-weight: 600px;
      padding: 10px 0 10px 40px;
      display: block;
      background: #e2e6e2;
      width: 230px;
      border: 1px solid #c6c7c2;
      margin-left: -6px;
      color: #646464;
      -moz-box-shadow: 0 1px 2px #646464;
      -webkit-box-shadow: 0 1px 2px #646464;
      box-shadow: 0 1px 2px #646464;
    }
    ul {
      list-style: none;
      font-family: 'Cabin', sans-serif;
      margin-left: 3px;
    }
    li {
      padding: 20px 0 20px 40px;
      display: block;
      background: #f3f4f3;
      width: 220px;
      margin: -6px 0 0 -21px;
      border-bottom: 1px solid #dcdddc;
      border-top: 1px solid #dcdddc;
      font-size: 13px;
      a {
        color: #646464 !important;
        text-decoration: none !important;
      }
      .add {
        border-bottom: none;
        a {
          color: #8eac45 !important;
          text-decoration: underline !important;
        }
      }

    }
    li:hover,
    li.selected {
      background: #d7e7b2;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      -moz-box-shadow: inset 0 0 5px #c8d7a7;
      -webkit-box-shadow: inset 0 0 5px #c8d7a7;
      box-shadow: inner 0 0 5px #c8d7a7;
    }
  }

  #secondary-left {
    margin: 10px 0 0 0;
    z-index: 5;
    opacity: 0.5;
    height: 95%;
  }
  #main-left {
    z-index: 10;
    position: absolute;
    height: 100%;
  }

  #main-right { float: left;
    background: #fdfffd;
    margin-left: 45px;
    width: 692px;
    border: 1px solid #aeae96;
    border-top: none;
    margin-right: 20px;

    .create-button {
      position: relative;
      float: right;
      margin-top: -50px;
      right: 25px;
      display: block;
      background: #f2f2ef;
      padding: 0 5px;
      font-family: 'Cabin', sans-serif;
      font-weight: 600;
      font-size: 12px;
      color: #77903a;
      a {
        text-decoration: none;
      }
    }

    .create-button:hover {
      background: #d2d2d0;
      cursor: pointer;
      -moz-box-shadow: inset 0 0 2px #777;
      -webkit-box-shadow: inset 0 0 2px #777;
      box-shadow: inset 0 0 2px #777;
    }

    .item-head h2 {
      font-size: 20px;
      font-weight: 600;
      font-family: 'Cabin', sans-serif;
      color: #fff;
      width: 682px;
      padding: 10px 0 10px 10px;
      border: 1px solid #aeae96;
      margin-left: -1px;
      background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.3, rgb(129,171,69)), color-stop(0.65, rgb(127,182,55)) );
      background-image: -moz-linear-gradient( center bottom, rgb(129,171,69) 30%, rgb(127,182,55) 65% ); }
    h3 {
      font-family: 'Verdana', Arial, Helvetica, sans-serif;
      padding-left: 10px;
      font-size: 13px;
      text-decoration: underline;
      a {
        color: #000;
      }
    }
    p {
      padding-left: 10px;
      width: 500px;
      .greenme {
        color: #8eac4b;
        a {
          text-decoration: underline;
        }
      }

    }
  }
  /* Lander */
  #land-top { height: 400px;
    background-color: #bee8eb;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#bee8eb), to(#a3d4db));
    background: -webkit-radial-gradient(circle, #bee8eb, #a3d4db);
    background: -moz-radial-gradient(circle, #bee8eb, #a3d4db);
    background: -ms-radial-gradient(circle, #bee8eb, #a3d4db); }

  #screenshot { z-index: 9;
    position: absolute;
    right: 40px;
    top: 50px; }

  #land-login {
    float: right;
    margin: 10px 40px 0 60px;

    button.login-button {
      background: url('/assets/login-bg.png') no-repeat left;
      padding: 0 20px 0 125px;
      height: 35px;
      border: 0;
      font-family: 'Cabin', sans-serif;
      color: #b4e1e5;
      font-style: italic;
      font-size: 18px;
      margin-right: 50px;
      cursor: pointer;
    }
    img {
      vertical-align: top;
      padding-left: 10px;
      padding-top:2px;
    }
  }

  #login-window {
    background: #67952b;
    width: 188px;
    position: relative;
    z-index: 9999;
    padding: 10px 15px 10px 10px;

    input { font-family: 'Verdana', Arial, Helvetica, sans-serif;
      color: #c6c6b3;
      border: 1px solid #bfc2b5;
      width: 100%;
      -moz-box-shadow: inset 0 0 2px #e0dfdf;
      -webkit-box-shadow: inset 0 0 2px #e0dfdf;
      box-shadow: inset 0 0 2px #e0dfdf;

      .login-submit {
        font-family: 'Cabin', sans-serif;
        width: 193px;
        cursor: pointer;
        color: #fff;
        background: -moz-linear-gradient( top, #83b73b 0%, #6c982e);
        background: -webkit-gradient( linear, left top, left bottom,  from(#83b73b), to(#6c982e));
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 1px solid #719f30;
        -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);
        -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);
        text-shadow: 0px 1px 0px #000, 0px 1px 0px #000;
      }
    }
    label {
      padding-left:8px;
      color:#fff;
      text-shadow: 0px 1px 0px #000, 0px 1px 0px #000;
    }
    #rem {
      width:inherit;
    }
    #login-submit{
      width:50px;
      float:right;
      margin-right:-2px;
    }
  }


  #land-bottom {
    border-top: 1px solid #aeae96;
    border-bottom: 1px solid #aeae96;
    padding: 100px 50px 100px 110px;
    font-family: 'Cabin', sans-serif;
    color: #8f8e8e;
    font-size: 20px;

    #land-copy-left {
      float: left;
      width: 50%;
      margin-right: 100px;
    }
    #land-copy-right {
      float: left;
      width: 35%;
      color: #87ae54;
      font-size: 19px;
      font-family: 'Cabin', sans-serif;
      ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        padding-top: 5px;
        li {
          font-weight: 600;
          background: url('/assets/lander-leaf.png') no-repeat left;
          padding: 10px 0 10px 30px;
        }
      }
    }
  }
  #form-box {
    z-index: 999;
    width: 490px;
    position: absolute;
    top: 275px;
    right: 40px;
    padding: 35px;
    border: 1px solid #b4b4b4;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.31, #D9D9D7), color-stop(0.66, #F3F3F1) );
    background-image: -moz-linear-gradient( center bottom, #D9D9D7 31%, #F3F3F1 66%);
    -moz-box-shadow: 1px 0px 8px #777777;
    -webkit-box-shadow: 1px 0px 8px #777777;
    box-shadow: 1px 0px 8px #777777;
    input.email {
      height: 40px;
      width: 300px;
      padding-left: 25px;
      font-family: 'Verdana', Arial, Helvetica, sans-serif;
      color: #777777;
      border: 1px solid #bfc2b5;
      -moz-box-shadow: 0 2px 0 #ccc, inset 0 0 10px #e0dfdf;
      -webkit-box-shadow: 0 2px 0 #ccc, inset 0 0 10px #e0dfdf;
      box-shadow: 0 2px 0 #ccc, inset 0 0 10px #e0dfdf; }
    input.land-submit {
      font-family: 'Cabin', sans-serif;
      font-size: 16px;
      color: #fff;
      padding: 10px 20px;
      width: 130px;
      margin-left: 20px;
      cursor: pointer;
      background: -moz-linear-gradient( top, #83b73b 0%, #6c982e);
      background: -webkit-gradient( linear, left top, left bottom,  from(#83b73b), to(#6c982e));
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border: 1px solid #719f30;
      -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border: 1px solid #719f30;
      -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);
      -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);
      text-shadow: 0px 1px 0px #000, 0px 1px 0px #000;
    }
    h1 {
      font-size: 20px;
      color: #77903a;
      font-family: 'Cabin', sans-serif;
      font-weight: 600;
    }
    h1 span {
      font-size: 16px;
    }
  }
  p.welcome {
    color: #fff;
    position: absolute;
    top: 50px;
    left: 70px;
    font-size: 34px;
    font-weight: 500;
    text-shadow: 1px 0px 1px #7b7b7b;
  }
  p.welcome img {
    vertical-align: bottom;
    margin-bottom: -5px;
  }
}


/* footer */
footer { float: right; text-align: center; margin: 10px 60px 0 0; }

footer nav { float: none; }
footer nav ul li.first { margin-right: 40px; }

/* Links */

/* Navigation */
nav { float: right; }
nav { white-space: nowrap; }
nav ul { margin: 22px 0 0 0; color: #888f6e; }
nav ul li { list-style-type: none; display: inline-block; padding: 0.2em 0; text-transform: uppercase; }
nav ul li a { padding: 0 5px; font-weight: normal; color: #888f6e; text-decoration: none; }
nav ul li a:visited { color: #888f6e; }
nav ul li a:hover { text-decoration: underline; color: #888f6e; }


/* Sign up button */
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

a.create_button,a.join_button, input.join_button {
  color:#fff;
  background: #006400;
  font-weight:bold;
  padding:10px;
  float:right;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors{
  margin-top: 10px;
  padding: 2px;
  background-color:red;
  display: table;
}

.field_with_errors label{
  color:#FFF;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom:-5px;
  background-color: #c00;
  color: #fff;
}
#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users {
  margin-top: 1em;
}

.users li{
  list-style: none;
}

div.comment{
  border:1px dotted #111;
  padding:2px;
}

.sortable {
  list-style-type: none; margin: 0; padding: 0; width: 60%;
  li {
    height: 50px; line-height: 25px;
    border:1px solid #ddd;
    padding: 3px;
    .placeholder{
      background-color:#BBB;
    }
  }
}

ul.hmenu {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
  li {
    display:inline;
  }
}

input::-webkit-input-placeholder {
  color:    #C6C6B3;
}
input:-moz-placeholder {
  color:    #C6C6B3;
}

