<div class="content-bg">
  <div id="filter-wrapper">
    <div id="my-groups-over" class="secondary-left-over"></div>
    <div id="my-groups" class="main-left">
      <h1>My Groups</h1>
      <ul class="filter-con my_group_ul">
        <% @groups.each do |gr| %>
          <%= render 'my_group', :group => gr %>
        <% end %>
      </ul>
    </div>

    <div id="con-groups" class="main-left">
      <h1>Filter by Connections</h1>
      <ul class="filter-con con_group_ul">
        <% @groups.each do |gr| %>
          <%= render 'con_group', :group => gr %>
        <% end %>
        <%#= link_to content_tag(:li, "Add a Connection", :class => 'add'), link_path(@group) %>
      </ul>
    </div>

    <div id="main-items" class="main-right">
      <div id="todos" class="item">
        <div class="item-head">
          <h2>To-Do Lists</h2><span class="create-button button"><a href="#">Create New »</a></span>
        </div>

        <div class="item-body">
          <div class="padding"> </div>
        </div>
      </div>

      <div id="discussions" class="item">
        <div class="item-head">
          <h2>Discussions</h2><span class="create-button button"><a href="#">Create New »</a></span>
        </div>

        <div class="item-body">
          <div class="padding"> </div>
        </div>
      </div>

      <div id="docs" class="item">
        <div class="item-head">
          <h2>Documents</h2><span class="create-button button"><a href="#">Create New »</a></span>
        </div>
        <div class="item-body">
          <div class="padding"> </div>
        </div>
      </div>
    </div>

     <div id="main-welcome" class="main-right">
        <div class="item">
          <div class="alt-item-head">
            <h2>Getting Started on Jungol</h2>
          </div>
          <p>Not sure what to do next?  Don't worry, we're here to help.  Here are a few tips to get you started.</p>

          <ol>
            <li><b>Join a group</b><br />
            Finding groups on Jungol is easy.  Just click the <a href="#">All Groups</a> tab at the top of the page. If you can't find what you're looking for, you can always <a href="#">Create a Group</a>.  Join as many groups as your heart desires.</li>
            <li><b>Connect group-to-group</b><br />
            Administrators can link their group directly with other groups.  This is called a <i>Connection</i>.   It's like a Facebook friend request for organizations.  If you're an admin, you can Add Connections directly from your group page.</li>
            <li><b>Add to-do lists, discussions, and documents</b><br />
            Groups are always working on projects and events.  Stay organized by using our interactive tools.  You can create <i>To-Do Lists</i>, start <i>Discussions</i>, and upload <i>Documents</i> directly from your group page.</li>
            <li><b>Share with other groups</b><br />
            Are you working on a project or event that involves multiple groups?  It's easy to plan joint initiatives on Jungol.  You can share your project management tools between groups.  Click <i>Share</i> when you're looking at one of your to-do lists, discussions, or documents.</li>
          </ol>

          <p>If you have questions or feedback, send us an <a href="#">email</a>.  We'd love to hear from you.</p>
        </div>
      </div>


    <%= hidden_field_tag :state, @state %>
    <div class="clearall"></div>

  </div>
</div>
