<li class='group-list-li'>
  <div class="group-img">
    <%= render 'groups/logo', :group => group, :size => 50 %>
  </div>
  <div class="group-text">
    <%= content_tag :span, link_to(group.name, group), :class => 'group-link' %>
  </div>
  <div class="clearall"></div>
</li>
