<div class="group-info">
  <% if @group.present? %>
    <%= image_tag "group-placeholder.png", :alt => "#{@group.name} Logo"  %>
    <h1><%= @group.name %></h1>
    <p><%= link_to "Group Info", @group %> | <a href="#">Invite New Members</a></p>
    <p class="blurb"><%= @group.about %></p>
  <% else %>
    <h1>Welcome to Jungol!</h1><br /><br />
    <p class="blurb noleft">Fusce ut augue quis nisl bibendum tincidunt ut eget diam. Sed urna est, rutrum dignissim. Fusce ut augue quis nisl bibendum tincidunt utnissim.</p>
  <% end %>
  <div class="clearall"></div>
</div>
