<div class="secondary">
  <div class="groups-list">
    <p><a href="#">All Groups</a> | <a href="#">Create New Group</a></p>
  </div>

  <%= render 'layouts/group_info' %>

  <div class="clearall"></div>
</div>
