<div class="secondary">
  <div class="groups-list">
    <p><%= link_to "All Groups", groups_path %> | <%= link_to "Create New Group", new_group_path %></p>
  </div>

  <%= render 'layouts/group_info' %>

  <div class="clearall"></div>
</div>
