	<div class="secondary">
		<div class="groups-list">
			<h1>Groups</h1>
			<ul>
				<li><a href="#">My Groups</a></li>
				<li><a href="#">All Groups</a></li>
				<li><a href="#">Create New Group</a></li>
			</ul>
		</div>

		<div class="group-info">
			<%= image_tag "prssa-logo.png", :alt => 'PRSSA Logo'  %>
			<h1>Public Relations Student Society of America</h1>
			<p><a href="#">Group Info</a> | <a href="#">Invite New Members</a></p>
			<p class="blurb">Fusce ut augue quis nisl bibendum tincidunt ut eget diam. Sed urna est, rutrum dignissim. Fusce ut augue quis nisl bibendum tincidunt utnissim.</p>

			<div class="clearall"></div>
		</div>

		<div class="clearall"></div>
	</div>